html, body {
	-ms-overflow-style: -ms-autohiding-scrollbar;
    margin: 0; padding: 0; background-color: #ffffff; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10pt; overflow: hidden; height: 100%;
}

#layout_container { 
    display: flex;
    height: calc(100% - 23px);;
}

#selected_infoblock {
	position: absolute;
	bottom: 0;
	margin: 0;
    background: #ffffff;
	width: 100%;
	height: 400px;
}
.infoblock-container {
	overflow: scroll;
	height: 100%;
}
#sidebar_canvas { 
    padding: 10px;
	overflow: scroll;
}
#sidebar_container {
	display: flex;
	flex-direction: column;
    width: 500px;
	left: 0 !important;
	height: 100%;
}

#map_container {
    flex: 1 1 auto;
    position: relative;
    height: 100%;
}

#map_canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

#toggle_sidebar_control {
    display: block;
    position: absolute;
    top: 6px;
    right: -4px;
}

#toggle_sidebar_button {
    cursor: pointer;
    float: right;
    width: 30px;
    height: 36px;
    background-size: 24px 25px;
    background-repeat: no-repeat;
    background-position: 0px;
    background-color: transparent;
    border: none;
}

#toggle_sidebar_button.show_sidebar {
    background-image: url("images/show_sidebar_active_48x40.png");
}

#toggle_sidebar_button.hide_sidebar {
    background-image: url("images/hide_sidebar_active_48x40.png");
}

#expand_sidebar_control {
    display: block;
    position: absolute;
    top: 40px;
    right: -4px;
}

#expand_sidebar_button {
    cursor: pointer;
    float: right;
    width: 30px;
    height: 36px;
    background-size: 24px 25px;
    background-repeat: no-repeat;
    background-position: 0px;
    background-color: transparent;
    border: none;
}

#expand_sidebar_button {
    background-image: url("images/show_sidebar_active_48x40.png");
}


#splitter {
    cursor: ew-resize;
    display: block;
    position: absolute;
    top: 84px;
    left: -30px;
    float: right;
    width: 24px;
    height: 25px;
    background-size: 24px 25px;
    background-repeat: no-repeat;
    background-position: 0px;
    background-color: transparent;
    border: none;
    background-image: url("images/toggle-width@2x.png");
    background-size: cover;
}

#splitter-infoblock {
	cursor: ns-resize;
	display: inline-block;
	position: absolute	;
	top: 0px;
	right: 0;
	margin-left: auto;
	width: 24px;
	height: 4px;
	background-size: 24px 25px;
	background-repeat: no-repeat;
	background-position: 0px;
	border: none;
	width: 100%;
	border-bottom: #234c75;
	background-color: #65819e;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
#close-button {
	display: inline-block;
	position: absolute;
	top: 18px;
	color: #00A0E2;
	right: 30px;
	margin-left: auto;
	font-size: 75%;
	text-decoration: underline;
	cursor: pointer;
	background: #fff;
	padding: 3px;
	border-radius: 2px;
}

.ol-zoom-in {
    background-image: url("images/zoom-in.png");
    background-size: cover;
    color:transparent !important;
    width: 19px !important;
    height: 19px !important;
    background-color: transparent !important;
    margin-bottom: 5px !important;
}

.ol-zoom-out {
    background-image: url("images/zoom-out.png");
    background-size: cover;
    color:transparent !important;
    width: 19px !important;
    height: 19px !important;
    background-color: transparent !important;
}

.ol-zoom {
    background-color: transparent !important;
    left: 10px !important;
}



div#SpecialSquawkWarning { position: absolute; bottom: 25px; right: 430px; border: 2px solid red;
    background-color: #FFFFA3; opacity: 0.75; filter:alpha(opacity=75); padding: 5px;
    text-align: center; }

div#update_error { position: absolute; bottom: 25px; left: 25px; border: 2px solid red;
    background-color: #FFFFA3; opacity: 0.75; filter:alpha(opacity=75); padding: 5px;
    text-align: center; }

div#loader { z-index: 99; position: absolute; left: 0; top: 0; bottom: 0; right: 0; background: #000; opacity: 0.8; filter: alpha(opacity=80); }
#spinny { width: 128px; height: 128px; position: absolute; top: 50%; left: 50%; margin: -64px 0 0 -64px; }
#loader_progress { width: 250px; height: 20px; position: absolute; top: 50%; left: 50%; margin: 128px 0 0 -125px; }

#tableinfo { font-size: small; }

#sudo_buttons {
    display: flex;
    padding: 0px 40px 0px 40px;
    justify-content: space-between;
}

#units_container,
#altitude_filter_form {
    font-size: small;
    margin: 10px 0 10px 0;
}

.aircraft_table_header { 
    background-color: #002F5D;
    color: #FFFFFF;
    cursor: pointer;
}
.aircraft_table_header td {
    font-size: smaller;
    padding: 5px;
    text-align: center;
}

.verticalRateTriangle {
    font-family: "Courier New",monospace;
}

.icaoCodeColumn {
    font-family: monospace;
    text-transform: uppercase;
}

.vPosition  { background-color: #D5E6EC; }
.mlat       { background-color: #FFEFCD; }
.uat        { background-color: #B5F0E6; }
.other      { background-color: #CCD5F8; }
.tisb       { background-color: #FFFF99; }
.squawk7500 { font-weight: bold; background-color: #ff5555; }
.squawk7600 { font-weight: bold; background-color: #00ffff; }
.squawk7700 { font-weight: bold; background-color: #ffff00; }
.selected   { background-color: #dddddd; }
.plane_table_row { 
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.hidden { display: none; }

.infoblock_heading    { font-size: larger; }
.infoblock_heading a  { text-decoration: none; color: blue; font-size: x-small;}

.dim    { opacity: 0.3; filter:alpha(opacity=30); /* For IE8 and earlier */ }

.pointer { cursor: pointer; }

.sidebarButton {
     background-color: #409EDF;
     padding: 4px 15px 4px 15px;
     color: #FFFFFF;
     font-weight: normal;
     font-size: small;
}

.sidebarButton:hover {
     background-color: #3c6ea3;
}

.altitudeFilterInput {
    width: 50px;
}

select.error, textarea.error, input.error {
    color: #FF0000;
}

.layer-switcher {
    top: 8px !important;
    bottom: auto !important;
    right: 48px !important;
}

/* new css */
.rangeRingText
{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 8px;
    color: #333333;
    color: rgb(51, 51, 51);
}

.dateTime
{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    color: rgb(255, 255, 255);
    line-height: 23px;
    text-align: right;
    display: inline-block;
    padding-right: 20px;
}

.infoHeading {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
    line-height: 16px;
    color: #002F5D;
}

.infoHeading sub {
	font-weight: normal;
}

.infoData {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
}

.sectionTitle {
	width: 100%;
	text-transform: uppercase;
	color: #fff;
	background: #002F5D;
	font-size: 14px;
}

.section-title-content {
	padding: 5px 20px;
}

.legend
{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    font-size: 12px;
    color: #000000;
    color: rgb(0, 0, 0);
    display: inline-flex;
    justify-content: flex-end;
    padding-top: 10px;
}

.settingsHeading
{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #002F5D;
    color: rgb(0, 47, 93);
}

.settingsText
{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    text-indent: 16px;
    color: rgb(0, 0, 0);
}

.link
{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px;
    line-height: 20px;
    color: #0000C8;
    color: rgb(0, 0, 200);
    text-decoration: underline;
}

#header {
    width: 100%;
    height: 23px;
    background: #002F5D;
    background: -webkit-linear-gradient(#002F5D, #002F5D 60%, #021624);
    background: -moz-linear-gradient(#002F5D, #002F5D 60%, #021624);
    background: -ms-linear-gradient(#002F5D, #002F5D 60%, #021624);
    background: linear-gradient(#002F5D, #002F5D 60%, #021624);
    display: flex;
    box-shadow: -6px 0px 8px #999999;
    z-index: 99999;
}

.flightawareLogo {
    background-color: #FFF;
    padding-top: 7px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
    width: 121px;
    height: 46px;
    box-shadow:inset -12px 0 12px -12px #000000;
}

.adsbLogo {
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 5px;
}

.piAwareLogo {
    width: 186px;
    height: 24px;
}
.flightfeederLogo {
    width: 229px;
    height: 24px;
}

.logoContainer {
    flex: 1;
}

.buttonContainer {
    margin-left: auto;
    margin-top: 0px;
}

.buttonText
{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #FFFFFF;
    color: rgb(255, 255, 255);
    line-height: 23px;
    padding-left: 10px;
    padding-right: 10px;
}

.button {
    background: #00A0E2;
    background: rgba(0, 160, 226, 1);
    min-width: 23px;
    height: 23px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    text-align: center;
    margin-top: 0px;
}

.lightblue-link, .lightblue-link a {
	color: #00A0E2;
}

.buttonHeader {
    margin-top: 0px;
}

.buttonTable {
    margin-bottom: 0px;
}

.settingsContainer {
    padding-right: 60px;
    padding-left: 2px;
    margin-top: 0px;
    margin-left: auto;
    cursor: pointer;
}

#highlighted_infoblock {
    position: absolute;
    left: 40px;
    top: 60px;
    min-width: 168px;
    padding-right: 5px;
    background: #ffffff;
    box-shadow: 4px 4px 10px #444444;
    cursor: pointer;
    z-index: 9999;
    display: none;
}

.highlightedTitle {
    height: 36px;
    border-bottom: 1px solid #00A0E2;
    padding-left: 18px;
	padding-top: 18px;
}

.highlightedInfo {
    padding-left: 10px;
}

.identLarge {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    line-height: 20px;
    color: #002F5D;
    color: rgb(0, 47, 93);
    font-weight: lighter;
}

.identSmall {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    color: #00A0E2;
    color: rgb(0, 160, 226);
}

.highlightedInfo {
    padding-bottom: 12px;
}

.infoRowTitle {
    display: inline-block;
}

.infoRowContent {
    display: inline-block;
}

.infoRowFluid {
    display: inline-block;
}

.infoRow {
    padding-top: 10px;
}

.infoRowLine {
	width: 49%;
	display: inline-block;
	padding-top: 2px;
	padding-bottom: 2px;
}

.removePadding {
    padding: 0;
}

.rightLink {
    float: right;
    padding-right: 5px;
}

.infoBlockTopSection {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 8px;
}

.infoBlock45pxSection {
    height: 45px;
    line-height: 45px;
    padding-left: 10px;
}

.infoBlockSection {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 10px;
}

.lightGreyBackground {
    background-color: #efefef;
}

#dump1090_infoblock {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.infoBlockTitleText {
    font-weight: bold;
    color: #002F5D;
}

.legendBox {
    width: 15px;
    height: 15px;
    border: 1px solid #efefef;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}


.legendTitle {
    line-height: 19px;
    display: inline-block;
    padding-right: 20px;
    padding-left: 5px;
}

#settings_infoblock {
    position: absolute;
    right: 1px;
    top: 60px;
    width: 398px;
    min-height: 180px;
    background: #ffffff;
    box-shadow: 4px 4px 10px #444444;
    padding: 20px;
    z-index: 9999;
    display: none;
}

.settingsColumn {
    display: table-cell;
    width: 199px;
}
.settingsOptionContainer {
    display: table;
    padding-bottom: 10px;
}

.settingsCheckbox {
    width: 20px;
    height: 11px;
    background-image: url('images/box-empty.png');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.settingsCheckboxChecked {
    background-image: url('images/box-checked.png') !important;
}

.settingsCloseBox {
    position: absolute;
    right: 8px;
    top: 8px;
    background-image: url('images/close-settings.png');
    background-size: cover;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.settingsText {
    line-height: 20px;
    display: table-cell;
}

#altitude_chart {
    float: right;
    width: calc(100% - 5px);
    max-width: 800px;
    right: 5px;
    bottom: 35px;
    background-color: transparent !important;
}

#altitude_chart_button {
    background-image: url('images/alt_legend_feet.svg');
    background-size: cover;
    background-color: transparent;
    width: 100%;
    height: 0;
    padding: 0;
    padding-bottom: calc(100% * 56 / 1815);
}

.altitudeMeters {
    background-image: url('images/alt_legend_meters.svg') !important;
}

/* remove the blue highlighting around the map buttons */
.ol-control button {
    outline: none;
}

.bottom-container {
	width: 100%;
	margin-top: 8px;
	padding: 40px 0px;
	text-align: center;
	background-color: #eee;
}
#selected_flightaware_link a {
	background-color: #00a0e2;
	color: white;
	text-decoration: none;
	padding: 10px;
	border-radius: 4px;
	float: right;
	margin-right: 25px;
	margin-top: 10px;
}
.bottom-info-container {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	color: #002F5D;
	line-height: 18px;
}
.bottom-info-container img {
	vertical-align: middle;
}
.bottom-info-container .bottom-info-text {
	vertical-align: middle;
	display: inline;
}
.selected_airframe a {
	color: #002F5D;
}

.infoblock-container-small .infoRowFluid {
	display: block;
}

/* Retina 2x images */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
    .settingsCloseBox {
        background-image: url('images/close-settings@2x.png');
    }
    .settingsCheckboxChecked {
        background-image: url('images/box-checked@2x.png') !important;
    }
    .settingsCheckbox {
        background-image: url('images/box-empty@2x.png');
    }
    .ol-zoom-out {
        background-image: url("images/zoom-out@2x.png");
    }
    .ol-zoom-in {
        background-image: url("images/zoom-in@2x.png");
    }
    #toggle_sidebar_button.show_sidebar {
        background-image: url("images/table-icon@2x.png");
    }
    #expand_sidebar_button {
        background-image: url("images/table-icon@2x.png");
    }
    #toggle_sidebar_button.hide_sidebar {
        background-image: url("images/map-icon@2x.png");
    }
}

/* Retina 3x images */
@media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 192dpi) { 
    .settingsCloseBox {
        background-image: url('images/close-settings@3x.png');
    }
    .settingsCheckboxChecked {
        background-image: url('images/box-checked@3x.png') !important;
    }
    .settingsCheckbox {
        background-image: url('images/box-empty@3x.png');
    }
    .ol-zoom-out {
        background-image: url("images/zoom-out@3x.png");
    }
    .ol-zoom-in {
        background-image: url("images/zoom-in@3x.png");
    }
    #toggle_sidebar_button.show_sidebar {
        background-image: url("images/table-icon@3x.png");
    }
    #expand_sidebar_button {
        background-image: url("images/table-icon@3x.png");
    }
    #toggle_sidebar_button.hide_sidebar {
        background-image: url("images/map-icon@3x.png");
    }
}
